header{ 
    text-align: center;
    background-color: crimson;
}
.albumdefotos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }

    .albumdefotos img {
        width: 21vw;
        display: block;
    }

    @media (max-width: 1024px) {
        .albumdefotos img{ 
            width: 40vw;
        }
        }

    @media (max-width: 600px) {
        .albumdefotos img{
            width: 85vw;
        }
    }